<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sierra with the Weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class=" d-block m-4 p-2 align-items-center text-center">
    
    <div class="weather-descriptions">
        <h1>Weather in {{ location }}</h1>
        <h3>{{ weather_descriptions }}</h3>
        <img class="w-25 h-25" src={{ img_src }} alt="Weather image pulled from API"> 
    </div>
    <br>
    <div class="weather-conditions">
        <h3>{{ temp }}° F</h3>
        <h3>Feels like: {{ feels_like }}° F</h3>
        <p>Humidity: {{ humidity }}%</p>
        <p>The wind level is: {{ wind_level }}</p>
    </div>

    <footer class="fw-bold">Made by Sierra Taylor | <a href="https://github.com/sierrataylor/weather-app">View GitHub Repo</a></footer>
</body>

</html>